# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/fabric-sdk-node
/fabric-chaincode-node



# Ignore IDE specific files
.idea/
.vscode/
*.sw*

